<ion-view style="" class=" " id="page13" title="Suporte">
    <ion-content class="has-header" padding="false" >



      <ion-list class=" " >

        <!-- Profile Cover Page -->
        <div class="support-nav col-md-3">
          <div class="panel">
            <div class="user-heading round">
              <a href="#">
                <img  src="img/john.jpg">
              </a>
              <p style="color: #ffffff;">John Rocha </p>
            </div>
          </div>
        </div>

        <br/>

      </ion-list>

      <div class="card" style="background-color: #BBDEFB">
        <p>
          <a href="https://github.com/johnrocha" target="_blank" class="item item-icon-left">
            <i class="icon ion-social-github"></i>
            GitHub
          </a>
          <!--<a href="https://github.com/johnrocha" target="_blank" class="item item-icon-left">-->
            <!--<i class="icon ion-social-github">-->
            <!--GitHub-->
            <!--</i>-->
          <!--</a>-->
          <a href="https://twitter.com/morfeuz_" target="_blank" class="item item-icon-left">
            <i class="icon ion-social-twitter"></i>
            Twitter
          </a>
        </p>


        <!--<a href="#" class="item item-icon-left">-->
          <!--<i class="icon ion-ios-telephone"></i>-->
          <!--Enter phone number-->
        <!--</a>-->

        <!--<a href="#" class="item item-icon-left">-->
          <!--<i class="icon ion-wifi"></i>-->
          <!--Enter wireless password-->
        <!--</a>-->

        <!--<a href="#" class="item item-icon-left">-->
          <!--<i class="icon ion-card"></i>-->
          <!--Enter card information-->
        <!--</a>-->

      </div>





    </ion-content>
</ion-view>
